.vscode-test/**
.vscode/**
src/**
test/**
node_modules/**
*.map
*.ts
!dist/**
!assets/**
esbuild.mjs
tsconfig.json
.gitignore
dist/src/**
dist/test/**
dist/**/*.d.ts
dist/**/*.d.ts.map
dist/**/*.js.map
media/**
